@keyframes down {
  from {
    background-position: center 12.5vmin;
    background-position: center 37.5vmin;
  }
  to {
    background-position: center 37.5vmin;
    background-position: center calc(15vmin);
  }
}

@keyframes bounce {
  from {
    margin-top: -4vmin;
  }
  to {
    margin-top: 0;
  }
}

@keyframes float {
  from {
    background-position: 0 0;
    top: calc(100% + 20vmin);
    transform: scale(1);
  }
  50% {
    background-position: 5vmin 5vmin, 7vmin 8vmin, 5vmin 0;
    transform: scale(2);
  }
  to {
    background-position: 0 0;
    top: -20vmin;
    transform: scale(1.5);
  }
}