@charset "UTF-8";
:root {
  --oct-1: 322deg;
  --oct-2: 16deg;
  --oct-3: 181deg;
}
html,
body {
  height: 100%;
}

@keyframes down {
  from {
    background-position: center 12.5vmin;
    background-position: center 37.5vmin;
  }
  to {
    background-position: center 37.5vmin;
    background-position: center calc(15vmin);
  }
}
body {
  align-items: center;
  animation: down 1s linear infinite paused;
  background-color: midnightblue;
  background-image: radial-gradient(
      circle at 18.75vmin 0,
      transparent,
      transparent 6.25vmin,
      rgba(0, 255, 255, 0.1) 6.25vmin,
      rgba(0, 255, 255, 0.1) 12.5vmin,
      transparent 12.5vmin
    ),
    radial-gradient(
      circle at 37.5vmin 22.5vmin,
      transparent,
      transparent 6.25vmin,
      rgba(0, 255, 255, 0.1) 6.25vmin,
      rgba(0, 255, 255, 0.1) 12.5vmin,
      transparent 12.5vmin
    ),
    radial-gradient(
      circle at 0 22.5vmin,
      transparent,
      transparent 6.25vmin,
      rgba(0, 255, 255, 0.1) 6.25vmin,
      rgba(0, 255, 255, 0.1) 12.5vmin,
      transparent 12.5vmin
    );
  background-position: center 12.5vmin;
  background-size: 37.5vmin 22.5vmin;
  display: flex;
  justify-content: center;
  margin: 0;
  overflow: hidden;
}
.🐙 {
  --hue: 100deg;
  animation: bounce 1s infinite alternate paused;
  background-image: radial-gradient(
    circle at center 30%,
    rgba(255, 255, 255, 0.125),
    rgba(255, 255, 255, 0) 33%
  );
  border-radius: 100%;
  box-shadow: inset 0 1.6vmin 1.6vmin rgba(0, 0, 0, 0.125);
  flex: 0 0 auto;
  height: 20vmin;
  margin-top: -4vmin;
  position: absolute;
  width: 20vmin;
}
.🐙, .🐙 .arm {
  background-color: hwb(var(--hue) 0% 10%);
}
.🐙::before {
  background-image: radial-gradient(
      circle at 18.75% 37.5%,
      #fffc 0.4vmin,
      transparent 0.44vmin
    ),
    radial-gradient(circle at 81.25% 37.5%, #fffc 0.4vmin, transparent 0.44vmin),
    radial-gradient(circle at 18.75% center, black 1.9vmin, transparent 2vmin),
    radial-gradient(circle at 81.25% center, black 1.9vmin, transparent 2vmin),
    radial-gradient(
      circle at 18.75% 53.33%,
      rgba(255, 255, 255, 0.33) 1.8vmin,
      transparent 2vmin
    ),
    radial-gradient(
      circle at 81.25% 53.33%,
      rgba(255, 255, 255, 0.33) 1.8vmin,
      transparent 2vmin
    ),
    radial-gradient(
      circle at 18.75% center,
      hwb(var(--hue) 0% 20%) 2.2vmin,
      hwb(var(--hue) 0% 30%) 2.92vmin,
      hwb(var(--hue) 0% 30%) 2.96vmin,
      transparent 3vmin
    ),
    radial-gradient(
      circle at 81.25% center,
      hwb(var(--hue) 0% 20%) 2.2vmin,
      hwb(var(--hue) 0% 30%) 2.92vmin,
      hwb(var(--hue) 0% 30%) 2.96vmin,
      transparent 3vmin
    );
}
.🐙 .arm::before,
.🐙 .arm::after {
  background-color: hwb(var(--hue) 25% 10%);
  box-shadow: inset 0.4vmin 0 0 hwb(var(--hue) 0% 50%);
}
.🐙 .arm:nth-child(n + 5)::before,
.🐙 .arm:nth-child(n + 5)::after {
  box-shadow: inset -0.4vmin 0 0 hwb(var(--hue) 0% 50%);
}
.🐙 .arm:first-child,
.🐙 .arm:last-child,
.🐙 .arm:nth-child(2),
.🐙 .arm:nth-child(7) {
  background-color: hwb(var(--hue) 0% 30%);
}
.🐙 .arm:first-child::before,
.🐙 .arm:first-child::after,
.🐙 .arm:last-child::before,
.🐙 .arm:last-child::after,
.🐙 .arm:nth-child(2)::before,
.🐙 .arm:nth-child(2)::after,
.🐙 .arm:nth-child(7)::before,
.🐙 .arm:nth-child(7)::after {
  background-color: hwb(var(--hue) 0% 10%);
}
.🐙 .arm:first-child::before,
.🐙 .arm:first-child::after,
.🐙 .arm:nth-child(2)::before,
.🐙 .arm:nth-child(2)::after {
  box-shadow: inset 0.4vmin 0 0 hwb(var(--hue) 0% 70%);
}
.🐙 .arm:last-child::before,
.🐙 .arm:last-child::after,
.🐙 .arm:nth-child(7)::before,
.🐙 .arm:nth-child(7)::after {
  box-shadow: inset -0.4vmin 0 0 hwb(var(--hue) 0% 70%);
}
.🐙:nth-child(1) {
  /* background-color: mediumvioletred; */
  --hue: var(--oct-1);
}
.🐙:nth-child(2) {
  /* background-color: orangered; */
  --hue: var(--oct-2);
}
.🐙:nth-child(3) {
  /* background-color: darkturquoise; */
  --hue: var(--oct-3);
}


.🐙:first-child {
  top: calc(50% + 10vmin);
}
.🐙:nth-child(2) {
  left: 20%;
  top: 20%;
}
.🐙:nth-child(3) {
  right: 15%;
  top: 33%;
}
.🐙::before {
  height: 30%;
  width: 80%;
  bottom: 20%;
  content: "";
  left: 10%;
  position: absolute;
}

@keyframes bounce {
  from {
    margin-top: -4vmin;
  }
  to {
    margin-top: 0;
  }
}
.⚪️ {
  animation: float 5s linear infinite paused;
  background-image: radial-gradient(
      circle at 3vmin 3vmin,
      transparent calc(3vmin - 4px),
      rgba(255, 255, 255, 0.8) calc(3vmin - 3px),
      rgba(255, 255, 255, 0.8) calc(3vmin - 1px),
      transparent 3vmin
    ),
    radial-gradient(
      circle at 9vmin 9vmin,
      transparent calc(2vmin - 4px),
      rgba(255, 255, 255, 0.8) calc(2vmin - 3px),
      rgba(255, 255, 255, 0.8) calc(2vmin - 1px),
      transparent 2vmin
    ),
    radial-gradient(
      circle at 3vmin 15vmin,
      transparent calc(1vmin - 4px),
      rgba(255, 255, 255, 0.8) calc(1vmin - 3px),
      rgba(255, 255, 255, 0.8) calc(1vmin - 1px),
      transparent 1vmin
    );
  height: 20vmin;
  right: 8vmin;
  position: absolute;
  top: 10vmin;
  width: 20vmin;
  z-index: -2;
}
.⚪️ + .⚪️ {
  animation-delay: 2s;
  bottom: 10vmin;
  left: 10vmin;
  top: calc(100% + 20vmin);
}

@keyframes float {
  from {
    background-position: 0 0;
    top: calc(100% + 20vmin);
    transform: scale(1);
  }
  50% {
    background-position: 5vmin 5vmin, 7vmin 8vmin, 5vmin 0;
    transform: scale(2);
  }
  to {
    background-position: 0 0;
    top: -20vmin;
    transform: scale(1.5);
  }
}
.arm {
  animation: 0.5s linear infinite alternate paused;
  border-radius: 100px;
  bottom: 0;
  height: 32%;
  position: absolute;
  right: 50%;
  width: 16%;
  z-index: -1;
}
.arm::before,
.arm::after {
  border-radius: 100%;
  bottom: 12.5%;
  content: "";
  height: 1vmin;
  position: absolute;
  right: 0;
  width: 1vmin;
}
.arm::after {
  bottom: 2.4vmin;
}
.arm {
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), transparent 67%),
    linear-gradient(to left, rgba(0, 0, 0, 0.25) 50%, transparent 50%);
}
.arm:nth-child(n + 5) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), transparent 67%),
    linear-gradient(to right, rgba(0, 0, 0, 0.25) 50%, transparent 50%);
  left: 50%;
}
.arm:nth-child(n + 5)::before,
.arm:nth-child(n + 5)::after {
  left: 0;
}
.arm:first-child {
  animation-name: arm1;
  margin-bottom: 4vmin;
  transform: translateX(-8.8vmin) rotate(60deg);
}
.arm:nth-child(2) {
  animation-name: arm2;
  margin-bottom: 0.4vmin;
  transform: translateX(-7.2vmin) rotate(45deg);
}
.arm:nth-child(3) {
  animation-name: arm3;
  margin-bottom: -2.4vmin;
  transform: translateX(-4.4vmin) rotate(30deg);
}
.arm:nth-child(4) {
  animation-name: arm4;
  margin-bottom: -4vmin;
  transform: translateX(-0.6vmin) rotate(15deg);
}
.arm:nth-child(5) {
  animation-name: arm5;
  margin-bottom: -4vmin;
  transform: translateX(0.6vmin) rotate(-15deg);
}
.arm:nth-child(6) {
  animation-name: arm6;
  margin-bottom: -2.4vmin;
  transform: translateX(4.4vmin) rotate(-30deg);
}
.arm:nth-child(7) {
  animation-name: arm7;
  margin-bottom: 0.4vmin;
  transform: translateX(7.2vmin) rotate(-45deg);
}
.arm:last-child {
  animation-name: arm8;
  margin-bottom: 4vmin;
  transform: translateX(8.8vmin) rotate(-60deg);
}

@keyframes arm1 {
  from {
    transform: translateX(-8.8vmin) rotate(60deg);
  }
  to {
    transform: translateX(-8.8vmin) rotate(75deg);
  }
}
@keyframes arm2 {
  from {
    transform: translateX(-7.2vmin) rotate(45deg);
  }
  to {
    transform: translateX(-7.2vmin) rotate(60deg);
  }
}
@keyframes arm3 {
  from {
    transform: translateX(-4.4vmin) rotate(30deg);
  }
  to {
    transform: translateX(-4.4vmin) rotate(45deg);
  }
}
@keyframes arm4 {
  from {
    transform: translateX(-0.6vmin) rotate(15deg);
  }
  to {
    transform: translateX(-0.6vmin) rotate(30deg);
  }
}
@keyframes arm5 {
  from {
    transform: translateX(0.6vmin) rotate(-15deg);
  }
  to {
    transform: translateX(0.6vmin) rotate(-30deg);
  }
}
@keyframes arm6 {
  from {
    transform: translateX(4.4vmin) rotate(-30deg);
  }
  to {
    transform: translateX(4.4vmin) rotate(-45deg);
  }
}
@keyframes arm7 {
  from {
    transform: translateX(7.2vmin) rotate(-45deg);
  }
  to {
    transform: translateX(7.2vmin) rotate(-60deg);
  }
}
@keyframes arm8 {
  from {
    transform: translateX(8.8vmin) rotate(-60deg);
  }
  to {
    transform: translateX(8.8vmin) rotate(-75deg);
  }
}
.aniToggle input,
.musicToggle input {
  display: none;
}
.aniToggle input:checked ~ label::after,
.musicToggle input:checked ~ label::after {
  content: "on";
}
.aniToggle label,
.musicToggle label {
  color: #fff;
  cursor: pointer;
  font-family: monospace;
  padding: 0.5rem;
  position: absolute;
  top: 1vmin;
}
.aniToggle label::after,
.musicToggle label::after {
  content: "off";
  font-weight: bold;
  margin-left: 1ch;
  text-decoration: underline;
}

.aniToggle label {
  right: 1vmin;
}

.musicToggle label {
  left: 1vmin;
}

a {
  border-radius: 1rem;
  color: #fff;
  font-family: monospace;
  line-height: 1;
  padding: 0.5rem 1rem;
  position: absolute;
  text-decoration: none;
  transition: background-color 0.5s;
}

.link {
  top: 1vmin;
}
.link:hover {
  background-color: orangered;
}

.viv {
  bottom: 1vmin;
}
.viv:hover {
  background-color: #078;
}

/* Animate */
body:has(#animate:checked),
body:has(#animate:checked) .🐙,
body:has(#animate:checked) .⚪️,
body:has(#animate:checked) .arm  {
  animation-play-state: running;
}